[submodule "TemplatiousLib/templatious"]
	path = TemplatiousLib/templatious
	url = https://github.com/davidkazlauskas/templatious.git
[submodule "LibLuaPlumbing/LuaPlumbing"]
	path = LibLuaPlumbing/LuaPlumbing
	url = https://github.com/davidkazlauskas/LuaPlumbing.git
